In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
import io

In [2]:
%cd "C:\Users\zaida\Downloads\archive (1)"

C:\Users\zaida\Downloads\archive (1)

In [3]:
movies = pd.read_csv("tmdb_5000_movies.csv")

In [4]:
credit = pd.read_csv("tmdb_5000_credits.csv")

In [5]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [6]:
credit.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [7]:
# Here i am merging these two dataframes on "title" column

In [8]:
df = movies.merge(credit,on="title")

In [9]:
df.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [11]:
# SO here i am taking those columns only that i need 
# Which column i am not taking and why :
# 1) budget :- if one movie has high budget and you liked that movie does not mean you will like other high budget movie 
    # eg:- you liked Marvel movie it does not mean you will like other high budget movie like DC
# 2) homepage:
# 3) original_language:- So here if we see value counts of the languages 90% is english language , so it will create some disturbance
# 4) Original_tilte :- We have title so no need of this 
# 5) Popularity :- 
# 6) production_companies :- we watch based on our fav actors or directors not based on production companies 
# 7) Production_countries :-
# 8) release_date :-
# 9) revenue :- It could be a good factor but some time good movies unabel to collect good revenue
# 10) runtime :-
# 11) Spoken_language :- 
# 12) Status :-
# 13) tagline :- we have overview so i will not take this 
# 14) vote_average :
# 15) vote_count :

In [12]:
df = df[["id","title","overview","genres","keywords","cast","crew"]]

In [13]:
df.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [15]:
df.isna().sum()

id          0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [16]:
df.duplicated().sum()

0

In [17]:
df.iloc[1]["genres"]

'[{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}]'

In [18]:
# Here i have genres in this format 
# '[{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}]'
# i want to convert in this 
# ["Adventure","Fantacy","Action"]
# So first i will remove my string from my list for this i am using literal_eval()
# and then i will create a function

In [19]:
import ast

In [20]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i["name"])
    return L

In [21]:
df["genres"] = df["genres"].apply(convert)

In [22]:
df.head(1)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [23]:
# applying same thing to the Keywords
df["keywords"] = df["keywords"].apply(convert)

In [24]:
df.head(1)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [25]:
df["cast"][1]

'[{"cast_id": 4, "character": "Captain Jack Sparrow", "credit_id": "52fe4232c3a36847f800b50d", "gender": 2, "id": 85, "name": "Johnny Depp", "order": 0}, {"cast_id": 5, "character": "Will Turner", "credit_id": "52fe4232c3a36847f800b511", "gender": 2, "id": 114, "name": "Orlando Bloom", "order": 1}, {"cast_id": 6, "character": "Elizabeth Swann", "credit_id": "52fe4232c3a36847f800b515", "gender": 1, "id": 116, "name": "Keira Knightley", "order": 2}, {"cast_id": 12, "character": "William \\"Bootstrap Bill\\" Turner", "credit_id": "52fe4232c3a36847f800b52d", "gender": 2, "id": 1640, "name": "Stellan Skarsg\\u00e5rd", "order": 3}, {"cast_id": 10, "character": "Captain Sao Feng", "credit_id": "52fe4232c3a36847f800b525", "gender": 2, "id": 1619, "name": "Chow Yun-fat", "order": 4}, {"cast_id": 9, "character": "Captain Davy Jones", "credit_id": "52fe4232c3a36847f800b521", "gender": 2, "id": 2440, "name": "Bill Nighy", "order": 5}, {"cast_id": 7, "character": "Captain Hector Barbossa", "credit_id": "52fe4232c3a36847f800b519", "gender": 2, "id": 118, "name": "Geoffrey Rush", "order": 6}, {"cast_id": 14, "character": "Admiral James Norrington", "credit_id": "52fe4232c3a36847f800b535", "gender": 2, "id": 1709, "name": "Jack Davenport", "order": 7}, {"cast_id": 13, "character": "Joshamee Gibbs", "credit_id": "52fe4232c3a36847f800b531", "gender": 2, "id": 2449, "name": "Kevin McNally", "order": 8}, {"cast_id": 11, "character": "Lord Cutler Beckett", "credit_id": "52fe4232c3a36847f800b529", "gender": 2, "id": 2441, "name": "Tom Hollander", "order": 9}, {"cast_id": 19, "character": "Tia Dalma", "credit_id": "52fe4232c3a36847f800b549", "gender": 1, "id": 2038, "name": "Naomie Harris", "order": 10}, {"cast_id": 8, "character": "Governor Weatherby Swann", "credit_id": "52fe4232c3a36847f800b51d", "gender": 2, "id": 378, "name": "Jonathan Pryce", "order": 11}, {"cast_id": 37, "character": "Captain Teague Sparrow", "credit_id": "52fe4232c3a36847f800b5b3", "gender": 2, "id": 1430, "name": "Keith Richards", "order": 12}, {"cast_id": 16, "character": "Pintel", "credit_id": "52fe4232c3a36847f800b53d", "gender": 2, "id": 1710, "name": "Lee Arenberg", "order": 13}, {"cast_id": 15, "character": "Ragetti", "credit_id": "52fe4232c3a36847f800b539", "gender": 2, "id": 1711, "name": "Mackenzie Crook", "order": 14}, {"cast_id": 18, "character": "Lieutenant Theodore Groves", "credit_id": "52fe4232c3a36847f800b545", "gender": 2, "id": 4031, "name": "Greg Ellis", "order": 15}, {"cast_id": 55, "character": "Cotton", "credit_id": "57e28d2ec3a3681a01005b5c", "gender": 2, "id": 1715, "name": "David Bailie", "order": 16}, {"cast_id": 17, "character": "Marty", "credit_id": "52fe4232c3a36847f800b541", "gender": 2, "id": 4030, "name": "Martin Klebba", "order": 17}, {"cast_id": 57, "character": "Ian Mercer", "credit_id": "57e28d78c3a36808b900bf4f", "gender": 0, "id": 939, "name": "David Schofield", "order": 18}, {"cast_id": 62, "character": "Scarlett", "credit_id": "57e28ec5c3a3681a50005855", "gender": 1, "id": 2450, "name": "Lauren Maher", "order": 19}, {"cast_id": 63, "character": "Giselle", "credit_id": "57e28ed692514123f5005635", "gender": 1, "id": 2452, "name": "Vanessa Branch", "order": 20}, {"cast_id": 60, "character": "Mullroy", "credit_id": "57e28db2c3a3681a01005bc7", "gender": 2, "id": 1714, "name": "Angus Barnett", "order": 21}, {"cast_id": 59, "character": "Murtogg", "credit_id": "57e28da192514118f7006008", "gender": 0, "id": 1713, "name": "Giles New", "order": 22}, {"cast_id": 58, "character": "Tai Huang", "credit_id": "57e28d8ec3a3681a01005bab", "gender": 2, "id": 22075, "name": "Reggie Lee", "order": 23}, {"cast_id": 64, "character": "Henry Turner", "credit_id": "57e29119925141151100a6cc", "gender": 2, "id": 61259, "name": "Dominic Scott Kay", "order": 24}, {"cast_id": 39, "character": "Mistress Ching", "credit_id": "52fe4232c3a36847f800b5bd", "gender": 1, "id": 33500, "name": "Takayo Fischer", "order": 25}, {"cast_id": 40, "character": "Lieutenant Greitzer", "credit_id": "52fe4232c3a36847f800b5c1", "gender": 2, "id": 1224149, "name": "David Meunier", "order": 26}, {"cast_id": 49, "character": "Hadras", "credit_id": "56d1871c92514174680010cf", "gender": 2, "id": 429401, "name": "Ho-Kwan Tse", "order": 27}, {"cast_id": 56, "character": "Clacker", "credit_id": "57e28d4b92514125710055cb", "gender": 0, "id": 1123, "name": "Andy Beckwith", "order": 28}, {"cast_id": 51, "character": "Penrod", "credit_id": "56ec8c14c3a3682260003c53", "gender": 2, "id": 1056117, "name": "Peter Donald Badalamenti II", "order": 29}, {"cast_id": 61, "character": "Cotton\'s Parrot (voice)", "credit_id": "57e28dcc9251412463005678", "gender": 2, "id": 21700, "name": "Christopher S. Capp", "order": 30}, {"cast_id": 65, "character": "Captain Teague", "credit_id": "58bc2a37c3a368663003740b", "gender": 2, "id": 1430, "name": "Keith Richards", "order": 31}, {"cast_id": 66, "character": "Captain Jocard", "credit_id": "58bc2a8e925141609e03a179", "gender": 2, "id": 2603, "name": "Hakeem Kae-Kazim", "order": 32}, {"cast_id": 67, "character": "Captain Ammand", "credit_id": "58e2a21ac3a36872af00f9c2", "gender": 0, "id": 70577, "name": "Ghassan Massoud", "order": 33}]'

In [26]:
# As you can see there is so many information available in one row of cast but will take only first 3 dictionaries
# Cause these first three actors are important

In [27]:
def convert1(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3 :
            L.append(i["name"])
            counter +=1
        else:    
            break
    return L

In [28]:
df["cast"] = df["cast"].apply(convert1)

In [29]:
df.head(1)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [30]:
df.crew[1]

'[{"credit_id": "52fe4232c3a36847f800b579", "department": "Camera", "gender": 2, "id": 120, "job": "Director of Photography", "name": "Dariusz Wolski"}, {"credit_id": "52fe4232c3a36847f800b4fd", "department": "Directing", "gender": 2, "id": 1704, "job": "Director", "name": "Gore Verbinski"}, {"credit_id": "52fe4232c3a36847f800b54f", "department": "Production", "gender": 2, "id": 770, "job": "Producer", "name": "Jerry Bruckheimer"}, {"credit_id": "52fe4232c3a36847f800b503", "department": "Writing", "gender": 2, "id": 1705, "job": "Screenplay", "name": "Ted Elliott"}, {"credit_id": "52fe4232c3a36847f800b509", "department": "Writing", "gender": 2, "id": 1706, "job": "Screenplay", "name": "Terry Rossio"}, {"credit_id": "52fe4232c3a36847f800b57f", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "52fe4232c3a36847f800b585", "department": "Editing", "gender": 2, "id": 1722, "job": "Editor", "name": "Craig Wood"}, {"credit_id": "52fe4232c3a36847f800b573", "department": "Sound", "gender": 2, "id": 947, "job": "Original Music Composer", "name": "Hans Zimmer"}, {"credit_id": "52fe4232c3a36847f800b555", "department": "Production", "gender": 2, "id": 2444, "job": "Executive Producer", "name": "Mike Stenson"}, {"credit_id": "52fe4232c3a36847f800b561", "department": "Production", "gender": 2, "id": 2445, "job": "Producer", "name": "Eric McLeod"}, {"credit_id": "52fe4232c3a36847f800b55b", "department": "Production", "gender": 2, "id": 2446, "job": "Producer", "name": "Chad Oman"}, {"credit_id": "52fe4232c3a36847f800b567", "department": "Production", "gender": 0, "id": 2447, "job": "Producer", "name": "Peter Kohn"}, {"credit_id": "52fe4232c3a36847f800b56d", "department": "Production", "gender": 0, "id": 2448, "job": "Producer", "name": "Pat Sandston"}, {"credit_id": "52fe4232c3a36847f800b58b", "department": "Production", "gender": 1, "id": 2215, "job": "Casting", "name": "Denise Chamian"}, {"credit_id": "52fe4232c3a36847f800b597", "department": "Art", "gender": 2, "id": 1226, "job": "Production Design", "name": "Rick Heinrichs"}, {"credit_id": "52fe4232c3a36847f800b59d", "department": "Art", "gender": 2, "id": 553, "job": "Art Direction", "name": "John Dexter"}, {"credit_id": "52fe4232c3a36847f800b591", "department": "Production", "gender": 1, "id": 3311, "job": "Casting", "name": "Priscilla John"}, {"credit_id": "52fe4232c3a36847f800b5a3", "department": "Art", "gender": 1, "id": 4032, "job": "Set Decoration", "name": "Cheryl Carasik"}, {"credit_id": "52fe4232c3a36847f800b5a9", "department": "Costume & Make-Up", "gender": 0, "id": 4033, "job": "Costume Design", "name": "Liz Dann"}, {"credit_id": "52fe4232c3a36847f800b5af", "department": "Costume & Make-Up", "gender": 1, "id": 4034, "job": "Costume Design", "name": "Penny Rose"}, {"credit_id": "56427ce8c3a3686a53000d8b", "department": "Sound", "gender": 2, "id": 5132, "job": "Music Supervisor", "name": "Bob Badami"}, {"credit_id": "55993c15c3a36855db002f33", "department": "Art", "gender": 2, "id": 146439, "job": "Conceptual Design", "name": "James Ward Byrkit"}, {"credit_id": "52fe4232c3a36847f800b5b9", "department": "Costume & Make-Up", "gender": 1, "id": 406204, "job": "Makeup Department Head", "name": "Ve Neill"}, {"credit_id": "56e47f7892514132690017bd", "department": "Crew", "gender": 2, "id": 1259516, "job": "Stunts", "name": "John Dixon"}, {"credit_id": "5740be639251416597000849", "department": "Crew", "gender": 0, "id": 1336716, "job": "CGI Supervisor", "name": "Dottie Starling"}, {"credit_id": "56427c639251412fc8000dc1", "department": "Directing", "gender": 1, "id": 1344278, "job": "Script Supervisor", "name": "Pamela Alch"}, {"credit_id": "57083101c3a3681d320004e6", "department": "Crew", "gender": 0, "id": 1368867, "job": "Special Effects Coordinator", "name": "Allen Hall"}, {"credit_id": "56427d5ec3a3686a62000d4a", "department": "Sound", "gender": 0, "id": 1368884, "job": "Music Editor", "name": "Melissa Muik"}, {"credit_id": "56427c7b9251412fd4000e07", "department": "Directing", "gender": 1, "id": 1395290, "job": "Script Supervisor", "name": "Sharron Reynolds"}, {"credit_id": "56427d2bc3a3686a53000d9b", "department": "Sound", "gender": 0, "id": 1399327, "job": "Music Editor", "name": "Barbara McDermott"}, {"credit_id": "56427cb4c3a3686a53000d87", "department": "Directing", "gender": 1, "id": 1400738, "job": "Script Supervisor", "name": "Karen Golden"}, {"credit_id": "56427d169251412fd4000e23", "department": "Sound", "gender": 0, "id": 1534197, "job": "Music Editor", "name": "Katie Greathouse"}]'

In [31]:
# In crew also there are lot of things are available but we want only directors cause based on directors some people watch movies

In [32]:
def directors(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i["job"] == "Director" :
            L.append(i["name"])    
            break
    return L

In [33]:
df["crew"] = df["crew"].apply(directors)

In [34]:
df.crew

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4809, dtype: object

In [35]:
df.head(2)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [36]:
df.overview[1]

'Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with Will Turner and Elizabeth Swann. But nothing is quite as it seems.'

In [37]:
# Here i am converting every string row into an list

In [38]:
df.overview.dtype

dtype('O')

In [39]:
df["overview"] = df["overview"].map(lambda x: str(x).split(".") if isinstance(x, str) else [])

In [40]:
df.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In the 22nd century, a paraplegic Marine is d...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain Barbossa, long believed to be dead, h...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,[A cryptic message from Bond’s past sends him ...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,[Following the death of District Attorney Harv...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John Carter is a war-weary, former military c...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [41]:
# I want to concatenate "genres","keyword","cast","crew" and create one "tag" column
# Before this here what i will do is i will delete a space between the name the reason is ,
# [Sam Worthington, Zoe Saldana, Sigourney Weaver] ,[Sam Mendes] You can see there are many names whos first name is matching 
# Our machine think this sam and that sam is same as you can see here and recommend Sam Mendes movies to the Sam Worthington fan
# For removing those spaces between my names i will use list comprehention

In [42]:
df['genres'] = df["genres"].map(lambda x : [i.replace(" ","") for i in x])
df['keywords'] = df["keywords"].map(lambda x : [i.replace(" ","") for i in x])
df['cast'] = df["cast"].map(lambda x : [i.replace(" ","") for i in x])
df['crew'] = df["crew"].map(lambda x : [i.replace(" ","") for i in x])

In [43]:
df.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In the 22nd century, a paraplegic Marine is d...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain Barbossa, long believed to be dead, h...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,[A cryptic message from Bond’s past sends him ...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,[Following the death of District Attorney Harv...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John Carter is a war-weary, former military c...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [44]:
df["tags"] = df["overview"] + df["genres"] + df["keywords"] + df["cast"] + df["crew"]

In [45]:
df.tags[0]

['In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization',
 '',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

In [46]:
df.head()

,id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In the 22nd century, a paraplegic Marine is d...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In the 22nd century, a paraplegic Marine is d..."
1,285,Pirates of the Caribbean: At World's End,"[Captain Barbossa, long believed to be dead, h...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain Barbossa, long believed to be dead, h..."
2,206647,Spectre,[A cryptic message from Bond’s past sends him ...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],[A cryptic message from Bond’s past sends him ...
3,49026,The Dark Knight Rises,[Following the death of District Attorney Harv...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],[Following the death of District Attorney Harv...
4,49529,John Carter,"[John Carter is a war-weary, former military c...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John Carter is a war-weary, former military c..."

In [47]:
# I am creating new DataFrame
new_df = df[["id","title","tags"]]

In [48]:
new_df.head()

,id,title,tags
0,19995,Avatar,"[In the 22nd century, a paraplegic Marine is d..."
1,285,Pirates of the Caribbean: At World's End,"[Captain Barbossa, long believed to be dead, h..."
2,206647,Spectre,[A cryptic message from Bond’s past sends him ...
3,49026,The Dark Knight Rises,[Following the death of District Attorney Harv...
4,49529,John Carter,"[John Carter is a war-weary, former military c..."

In [49]:
# Converting list into string
new_df["tags"] = new_df["tags"].map(lambda x : " ".join(x))

In [50]:
new_df.head()

,id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [51]:
new_df.tags[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization  Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [52]:
new_df["tags"] = new_df["tags"].map(lambda x : x.lower())

In [53]:
new_df.head()

,id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [54]:
# Vectorization 
# So first we will convert our data to vectors so based on closes vectors it will predict
# TO change text to vectors there are some techniques but will go with "Bag of words"
# Here i will concatenate those 5000 tags and create one large tag
# While doing vectorization will not consider stop words like a,is,to,are,you etc 
# there is a function called countvectorized i am using that function and i will pass some hyperparameters also

In [55]:
from sklearn.feature_extraction.text import CountVectorizer

In [56]:
cv = CountVectorizer(max_features=5000 , stop_words="english")

In [57]:
vectors = cv.fit_transform(new_df["tags"]).toarray()

In [58]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [59]:
cv.get_feature_names_out()[0:500]

array(['000', '007', '10', '100', '11', '12', '13', '14', '15', '16',
       '17', '18', '18th', '19', '1930s', '1940s', '1950s', '1960s',
       '1970s', '1980', '1980s', '1985', '1990s', '1999', '19th',
       '19thcentury', '20', '200', '2003', '2009', '20th', '21st', '23',
       '24', '25', '30', '300', '3d', '40', '50', '500', '60', '60s',
       '70', '70s', 'aaron', 'aaroneckhart', 'abandoned', 'abducted',
       'abigailbreslin', 'abilities', 'ability', 'able', 'aboard',
       'abuse', 'abusive', 'academic', 'academy', 'accept', 'accepted',
       'accepts', 'access', 'accident', 'accidental', 'accidentally',
       'accompanied', 'accomplish', 'account', 'accountant', 'accused',
       'ace', 'achieve', 'act', 'acting', 'action', 'actionhero',
       'actions', 'activist', 'activities', 'activity', 'actor', 'actors',
       'actress', 'acts', 'actual', 'actually', 'adam', 'adams',
       'adamsandler', 'adamshankman', 'adaptation', 'adapted', 'addict',
       'addicted', 'addiction', 'adolescence', 'adopt', 'adopted',
       'adoption', 'adopts', 'adrienbrody', 'adult', 'adultery',
       'adulthood', 'adults', 'advantage', 'adventure', 'adventures',
       'advertising', 'advice', 'affair', 'affairs', 'affect',
       'affection', 'affections', 'afghanistan', 'africa', 'african',
       'africanamerican', 'aftercreditsstinger', 'afterlife', 'aftermath',
       'age', 'aged', 'agedifference', 'agency', 'agenda', 'agent',
       'agents', 'aggressive', 'aging', 'ago', 'agree', 'agrees', 'ahead',
       'aid', 'aidanquinn', 'aided', 'aids', 'ailing', 'air', 'airplane',
       'airplanecrash', 'airport', 'aka', 'al', 'alabama', 'alan',
       'alaska', 'albert', 'alcohol', 'alcoholic', 'alcoholism',
       'alecbaldwin', 'alex', 'alfredhitchcock', 'ali', 'alice', 'alien',
       'alieninvasion', 'alienlife', 'aliens', 'alike', 'alive', 'allen',
       'alliance', 'allied', 'allies', 'allow', 'allows', 'ally',
       'alongside', 'alpacino', 'alter', 'alternate', 'alternative',
       'alzheimer', 'amanda', 'amandapeet', 'amandaseyfried', 'amateur',
       'amazing', 'ambassador', 'ambition', 'ambitious', 'ambulance',
       'ambush', 'america', 'american', 'americanabroad',
       'americanfootball', 'americans', 'amid', 'amidst', 'amnesia',
       'amp', 'amsterdam', 'amusementpark', 'amy', 'amyadams', 'amysmart',
       'analyst', 'anarchiccomedy', 'ancient', 'ancientrome',
       'ancientworld', 'anderson', 'andiemacdowell', 'andrew', 'android',
       'andy', 'andygarcía', 'angel', 'angelabassett', 'angeles',
       'angelinajolie', 'angels', 'anger', 'anglee', 'angry', 'animal',
       'animalattack', 'animalhorror', 'animals', 'animated', 'animation',
       'anna', 'annafaris', 'anne', 'annehathaway', 'annemoss',
       'annettebening', 'annie', 'anniversary', 'annual', 'answer',
       'answers', 'ant', 'anthology', 'anthony', 'anthonyanderson',
       'anthonyhopkins', 'anthropomorphism', 'anti', 'antics', 'antihero',
       'antoinefuqua', 'antoniobanderas', 'antonyelchin', 'apart',
       'apartheid', 'apartment', 'ape', 'apes', 'apocalypse',
       'apocalyptic', 'apparent', 'apparently', 'appear', 'appears',
       'apple', 'appointed', 'apprentice', 'approach', 'approaches',
       'approaching', 'april', 'arab', 'arch', 'archaeologist',
       'architect', 'arctic', 'area', 'aren', 'arena', 'argument',
       'arise', 'aristocrat', 'armed', 'arms', 'army', 'arnold',
       'arnoldschwarzenegger', 'arrangedmarriage', 'arrest', 'arrested',
       'arrival', 'arrive', 'arrives', 'arriving', 'arrogant', 'art',
       'arthur', 'artificialintelligence', 'artist', 'artistic',
       'artists', 'arts', 'ashley', 'ashleyjudd', 'ashtonkutcher', 'asia',
       'aside', 'ask', 'asked', 'asking', 'asks', 'aspirations',
       'aspiring', 'assassin', 'assassinate', 'assassination',
       'assassins', 'assault', 'assigned', 'assignment', 'assistant',
       'assumes', 'asteroid', 'astronaut', 'astronauts', 'asylum',
       'athlete', 'atomicbomb', 'attack', 'attacked', 'attacks',
       'attempt', 'attempting', 'attempts', 'attempttoescape',
       'attending', 'attends', 'attention', 'attic', 'attitude',
       'attorney', 'attracted', 'attraction', 'attractive', 'audience',
       'audiences', 'audition', 'august', 'aunt', 'austin', 'australia',
       'australian', 'author', 'authorities', 'authority', 'autism',
       'auto', 'automobileracing', 'avenge', 'average', 'avoid', 'awaits',
       'awakens', 'award', 'away', 'awry', 'ax', 'babe', 'baby',
       'bachelor', 'backdrop', 'background', 'backgrounds', 'bad', 'bag',
       'bahamas', 'bail', 'balance', 'ball', 'ballet', 'baltimore',
       'band', 'bandits', 'bangkok', 'banished', 'bank', 'banker',
       'bankrobber', 'bankrobbery', 'bar', 'barbrastreisand', 'barely',
       'bargained', 'barn', 'barney', 'baron', 'barry', 'barrylevinson',
       'barrysonnenfeld', 'bars', 'base', 'baseball', 'based',
       'basedoncomicbook', 'basedongraphicnovel', 'basedonnovel',
       'basedonplay', 'basedonstagemusical', 'basedontrueevents',
       'basedontruestory', 'basedontvseries', 'basedonvideogame',
       'basedonyoungadultnovel', 'basement', 'basketball', 'batman',
       'battle', 'battlefield', 'battles', 'battling', 'bay', 'beach',
       'bear', 'bears', 'beast', 'beasts', 'beat', 'beating', 'beautiful',
       'beautifulwoman', 'beauty', 'becky', 'becominganadult', 'bed',
       'bedroom', 'bee', 'beer', 'befriends', 'began', 'begin',
       'beginning', 'begins', 'behavior', 'beings', 'belief', 'beliefs',
       'believe', 'believed', 'believes', 'believing', 'bell', 'beloved',
       'ben', 'benaffleck', 'beneath', 'benfoster', 'beniciodeltoro',
       'benjamin', 'benjaminbratt', 'benkingsley', 'bennett',
       'benstiller', 'bent', 'berlin', 'best', 'bestfriend', 'bet',
       'beth', 'betrayal', 'betrayed', 'bettemidler', 'better', 'betty',
       'beverly', 'bible', 'big', 'bigger', 'biggest', 'biker', 'bikini',
       'billhader', 'billionaire', 'billmurray', 'billnighy',
       'billpaxton', 'billpullman', 'billy', 'billybobthornton',
       'billycrudup', 'billycrystal', 'biography', 'bird', 'birth',
       'birthday', 'bisexual', 'bishop', 'bit', 'bite', 'bitter',
       'bizarre', 'black', 'blackmagic', 'blackmail', 'blackpeople'],
      dtype=object)

In [60]:
# As you can see there is an problem here there is lot of similar words are there,
# for example :'animal','animals' 'action','actions' so this thing is not good for model so what i will do is with the help of 
# stem i will create same word of all similar words

In [61]:
import nltk

In [62]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [63]:
def stem(text):
    L=[]
    for i in text.split():
        L.append(ps.stem(i))
    return " ".join(L)

In [64]:
new_df["tags"] = new_df["tags"].apply(stem)

In [80]:
# Repeating previous steps
from sklearn.feature_extraction.text import CountVectorizer

In [109]:
cv = CountVectorizer(max_features=5000 , stop_words="english")

In [110]:
vectors = cv.fit_transform(new_df["tags"]).toarray()

In [111]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [112]:
cv.get_feature_names_out()[0:500]

array(['000', '007', '10', '100', '11', '12', '13', '14', '15', '16',
       '17', '17th', '18', '18th', '18thcenturi', '19', '1910', '1920',
       '1930', '1940', '1944', '1950', '1960', '1970', '1971', '1974',
       '1976', '1980', '1985', '1990', '1999', '19th', '19thcenturi',
       '20', '200', '2003', '2009', '20th', '21st', '23', '24', '25',
       '30', '300', '3d', '40', '50', '500', '60', '70', '80', 'aaron',
       'aaroneckhart', 'abandon', 'abduct', 'abigailbreslin', 'abil',
       'abl', 'aboard', 'abov', 'absenc', 'abus', 'academ', 'academi',
       'accept', 'access', 'accid', 'accident', 'acclaim', 'accompani',
       'accomplish', 'account', 'accus', 'ace', 'achiev', 'acquaint',
       'act', 'action', 'actionhero', 'activ', 'activist', 'actor',
       'actress', 'actual', 'ad', 'adam', 'adamsandl', 'adamshankman',
       'adapt', 'add', 'addict', 'adjust', 'admir', 'admit', 'adolesc',
       'adopt', 'ador', 'adrienbrodi', 'adult', 'adultanim', 'adulteri',
       'adulthood', 'advanc', 'advantag', 'adventur', 'adventure',
       'advertis', 'advic', 'advis', 'affair', 'affect', 'afghanistan',
       'africa', 'african', 'africanamerican', 'aftercreditssting',
       'afterlif', 'aftermath', 'ag', 'age', 'agediffer', 'agenc',
       'agency', 'agenda', 'agent', 'aggress', 'ago', 'agre', 'ahead',
       'aid', 'aidanquinn', 'ail', 'aim', 'air', 'airplan',
       'airplanecrash', 'airport', 'aka', 'al', 'alabama', 'alan',
       'alaska', 'albert', 'alcatraz', 'alcohol', 'alcoholabus',
       'alecbaldwin', 'alejandrogonzáleziñárritu', 'alex',
       'alexapenavega', 'alexisbledel', 'alexkendrick', 'alfredhitchcock',
       'alfredmolina', 'ali', 'alic', 'alice', 'alien', 'alieninvas',
       'alienlife', 'alienplanet', 'alik', 'aliv', 'alive', 'alleg',
       'allen', 'alli', 'allianc', 'allow', 'alon', 'alongsid',
       'alpacino', 'alpha', 'alreadi', 'alter', 'altern', 'alway',
       'alyssa', 'alzheimer', 'amanda', 'amandapeet', 'amandaseyfri',
       'amateur', 'amaz', 'amazon', 'ambassador', 'ambit', 'ambiti',
       'ambul', 'ambush', 'america', 'american', 'americanabroad',
       'americancivilwar', 'americanfootbal', 'americanfootballplay',
       'ami', 'amid', 'amidst', 'amnesia', 'amp', 'amsterdam', 'amus',
       'amusementpark', 'amyadam', 'amysmart', 'ana', 'anakin', 'analyst',
       'anarchiccomedi', 'ancient', 'ancientrom', 'ancientworld',
       'anderson', 'andi', 'andiemacdowel', 'andrew', 'android', 'andy',
       'andygarcía', 'angel', 'angela', 'angelabassett', 'angeles',
       'angelinajoli', 'anger', 'angle', 'angri', 'ani', 'anim',
       'animalattack', 'animalhorror', 'anjelicahuston', 'ann', 'anna',
       'annabel', 'annafari', 'annakendrick', 'annehathaway', 'annemoss',
       'annetteben', 'anni', 'annie', 'anniversari', 'announc', 'annual',
       'anonym', 'anoth', 'answer', 'ant', 'antholog', 'anthoni',
       'anthonyanderson', 'anthonyhopkin', 'anthonymacki',
       'anthropomorph', 'anti', 'antic', 'antihero', 'antiqu',
       'antoinefuqua', 'antoniobandera', 'antonyelchin', 'anyon', 'anyth',
       'apart', 'apartheid', 'apartment', 'ape', 'apocalyps', 'apocalypt',
       'appar', 'appear', 'appl', 'appoint', 'appreci', 'apprentic',
       'approach', 'april', 'aquarium', 'arab', 'arch', 'archaeologist',
       'archeolog', 'archer', 'architect', 'arctic', 'area', 'aren',
       'arena', 'argument', 'aris', 'aristocrat', 'arm', 'armi', 'armor',
       'armsdeal', 'army', 'arnold', 'arnoldschwarzenegg', 'arrang',
       'arrangedmarriag', 'arrest', 'arriv', 'arrog', 'art', 'arthur',
       'articl', 'artifact', 'artifici', 'artificialintellig', 'artist',
       'ash', 'ashley', 'ashleyjudd', 'ashtonkutch', 'asia', 'asian',
       'asid', 'ask', 'aspect', 'aspir', 'assassin', 'assault', 'assembl',
       'assign', 'assist', 'assistant', 'associ', 'assum', 'asteroid',
       'astronaut', 'asylum', 'atheist', 'athlet', 'atlant', 'atom',
       'atomicbomb', 'attach', 'attack', 'attempt', 'attempttoescap',
       'attend', 'attent', 'attic', 'attitud', 'attorney', 'attract',
       'auction', 'audienc', 'audit', 'august', 'aunt', 'austin',
       'australia', 'australian', 'author', 'autism', 'auto',
       'automobilerac', 'aveng', 'averag', 'avoid', 'await', 'awak',
       'awaken', 'awar', 'award', 'away', 'awkward', 'awri', 'awry', 'ax',
       'babe', 'babi', 'baby', 'bachelor', 'backdrop', 'background',
       'backpack', 'bad', 'bag', 'bahama', 'bail', 'balanc', 'ball',
       'ballet', 'balloon', 'baltimor', 'ban', 'band', 'bandit',
       'bangkok', 'banish', 'bank', 'banker', 'bankrobb', 'bankrobberi',
       'bar', 'barbarian', 'barbrastreisand', 'bare', 'bargain', 'barn',
       'barney', 'baron', 'barri', 'barrier', 'barrylevinson',
       'barrysonnenfeld', 'bas', 'base', 'basebal', 'basedoncomicbook',
       'basedongraphicnovel', 'basedonnovel', 'basedonplay',
       'basedonstagemus', 'basedontrueev', 'basedontruestori',
       'basedontvseri', 'basedonvideogam', 'basedonyoungadultnovel',
       'basement', 'basketbal', 'bat', 'batman', 'battl', 'battlefield',
       'bay', 'beach', 'beam', 'bear', 'beard', 'beast', 'beat', 'beauti',
       'beautiful', 'beautifulwoman', 'becam', 'becaus', 'becki', 'becom',
       'becominganadult', 'bed', 'bedroom', 'bee', 'beer', 'befor',
       'befriend', 'began', 'begin', 'behavior', 'belief', 'believ',
       'bell', 'bella', 'belong', 'belov', 'ben', 'benaffleck', 'bend',
       'beneath', 'benefit', 'benfost', 'beniciodeltoro', 'benjamin',
       'benjaminbratt', 'benkingsley', 'bennett', 'benstil', 'bent',
       'berlin', 'best', 'bestfriend', 'bestfriendsinlov', 'bet', 'beth',
       'betray', 'bettemidl', 'better', 'betti', 'beverli', 'bibl', 'bid',
       'big', 'bigger', 'biggest', 'bike', 'biker', 'bikini', 'billhad',
       'billi', 'billionair', 'billmurray', 'billnighi', 'billpaxton',
       'billpullman', 'billybobthornton', 'billycrudup'], dtype=object)

In [113]:
# Now the problem has solved and we have 4809 movies and vectors and every vector contains 5000 words
# Now i will calculate the distance between each movie
# For this i used Cosin distance instead of euclideant

In [114]:
from sklearn.metrics.pairwise import cosine_distances

In [115]:
cosine_distances(vectors)

array([[0.        , 0.91761474, 0.91507922, ..., 0.93273272, 1.        ,
        1.        ],
       [0.91761474, 0.        , 0.93936609, ..., 0.97598539, 1.        ,
        0.97384671],
       [0.91507922, 0.93936609, 0.        , ..., 0.97524631, 1.        ,
        1.        ],
       ...,
       [0.93273272, 0.97598539, 0.97524631, ..., 0.        , 0.9595774 ,
        0.95729186],
       [1.        , 1.        , 1.        , ..., 0.9595774 , 0.        ,
        0.91195491],
       [1.        , 0.97384671, 1.        , ..., 0.95729186, 0.91195491,
        0.        ]])

In [116]:
cosine_distances(vectors).shape

(4809, 4809)

In [117]:
similarity = cosine_distances(vectors)

In [118]:
def recommend(movie):
    movie_index = new_df[new_df["title"]==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [122]:
recommend("Angels & Demons")

Spider-Man 3
Pirates of the Caribbean: Dead Man's Chest
The Lone Ranger
Pirates of the Caribbean: On Stranger Tides
The Hobbit: The Desolation of Smaug

In [131]:
recommend("Gods of Egypt")

The Dark Knight Rises
Avengers: Age of Ultron
The Lone Ranger
The Avengers
Men in Black 3